body {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}
label {
  color: hsl(184, 14%, 56%);
  font-weight: 700;
}

input {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  text-align: right;
}
#bill {
  background: url("../images/icon-dollar.svg") left no-repeat;
  padding-left: 17px;
}
